@model School.Domain.Interfaces.DtoInterfaces.IGenderDto

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@Html.HiddenFor(x => x.GenderId)*@
            <input hidden="hidden" asp-for="GenderId" />
            <div class="form-group">
                <label asp-for="GenderType" class="control-label"></label>
                <input asp-for="GenderType" class="form-control" />
                <span asp-validation-for="GenderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
